<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test outgoing SSL from Java (buildpack test)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Enter URL to test</h1>
<form action="#" th:action="@{/}" th:object="${test}" method="post">
    <p>Host: <input type="text" th:field="*{host}" /></p>
    <p>Port: <input type="text" th:field="*{port}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<h2>Results</h2>
<p th:text="${result}" />

</body>
</html>